<nav>
  <a href="/">OceanSafari</a>
  <ul>
    <li class="nav-item">
      <a class="nav-link" href="/">Inventory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inventory">Apparel</a>
    </li>
  </ul>
</nav>
